/* ----- UNIT HOVER INFO
----------------------------------------------------------------- */

div.div_bottom_left {
  left: auto;
  right: -10px;
}

/* ----- PIP
----------------------------------------------------------------- */

holodeck.pip.pip.bottom_right {
  left: 1px;
  right: auto;
  bottom: 103px;
}

/* ----- SELECTION BAR
----------------------------------------------------------------- */
div.div_unit_selection_cont {
  left: auto;
  right: -13px;
}

/* ----- CHAT
----------------------------------------------------------------- */
panel#chat {
  bottom: calc(40% + 50px);
}
