/*----- UNIT HOVER INFO
-----------------------------------------------------------------*/

div.div_bottom_left {
  left: auto;
  right: 0
}

/*----- PIP
-----------------------------------------------------------------*/

holodeck.pip.pip.bottom_right {
  left: 1px;
  right: auto;
}

/*----- SELECTION BAR
-----------------------------------------------------------------*/
div.div_unit_selection_cont {
  left: auto;
  right: 0;
}

/*----- CHAT
-----------------------------------------------------------------*/
panel#chat {
  bottom: calc(40% + 50px);
}